<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_motivonegativadiaria})}|">Show MotivoNegativaDiaria - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${motivoNegativaDiaria}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="motivonegativadiaria-descricao-field" data-z="7a075d24">
            	      <strong data-th-text="#{label_motivonegativadiaria_descricao}">descricao</strong>
                    <span data-th-text="*{{descricao}}">descricaoValue</span>
         	        </li>
                  <li id="motivonegativadiaria-createddate-field" data-z="99f0e64">
            	      <strong data-th-text="#{label_motivonegativadiaria_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="motivonegativadiaria-createdby-field" data-z="429b4a84">
            	      <strong data-th-text="#{label_motivonegativadiaria_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="motivonegativadiaria-modifieddate-field" data-z="983ee99a">
            	      <strong data-th-text="#{label_motivonegativadiaria_modifieddate}">modifiedDate</strong>
                    <span data-th-text="*{{modifiedDate}}">modifiedDateValue</span>
         	        </li>
                  <li id="motivonegativadiaria-modifiedby-field" data-z="36c47b3a">
            	      <strong data-th-text="#{label_motivonegativadiaria_modifiedby}">modifiedBy</strong>
                    <span data-th-text="*{{modifiedBy}}">modifiedByValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
